<%= simple_form_for(@event) do |f| %>
  <div class="container form-group px-5 pb-5">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :category %>
    <%= f.input :slot %>
    <%= f.input :contact %>
    <%= f.input :image_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
