<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <h1>Discover events in Mauritius</h1>
    <p>Getting tickets has never been easier</p>
  </div>
</div>

<br>
<br>

<div class="container container-background mb-5">
  <br>
  <h1>All Events</h1>

  <br>

  <div class="card-products-container">
    <% @events.each do |event| %>
      <div class="card-product" style="background-image: url(<%= event.image_url %>)">
        <div class="overlay">
          <div class="card-product-infos">
            <div class="head">
              <h2><%= event.title %></h2>
            </div>
              <div class="details">

                <div style="margin-bottom: 15px;">
                  <i class="fa-solid fa-calendar-days"></i>
                  <%= event.start_date %> to <%= event.end_date %>
                </div>


                <div style="margin-bottom: 15px;">
                  <i class="fa-solid fa-location-dot"></i>
                  <%= event.location %>
                </div>

                <div style="margin-bottom: 15px;">
                  <i class="fa-solid fa-ticket"></i>
                  Rs <%= event.price %>
                </div>

                <div style="margin-bottom: 15px;">
                  Available places : <%= event.slot %>
                </div>

              </div>
            <div>
              <%= link_to "Go To Event", event, class:"btn btn-ghost" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
