<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">>
  <div class="container">
    <h1>Discover events in Mauritius</h1>
    <p>Getting tickets has never been easier</p>
  </div>
</div>

<br>
<br>

<div class="container container-background">
  <h1>All Events</h1>

<br>

  <div class="card-product">
    <%# <% @events.each do |event|  %>
      <img src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
      <div class="card-product-infos ">
        <%= <h2>event.event_title</h2> %>
        <%= event.start_date %> to <%= event.end_date %>
        <%= event.location %>

      </div>
    <%# <% end %>
  </div>
</div>

<br>

<%#
  <div class="card">
    <% @events.each do |event| %>
      <%# <div class="card-category event-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= event.images_url )">
        <div>
          <%= event.event_title %>
          <%# <%= event.date
          <%= event.location
        </div>
        <div>
          <%= link_to "Learn More", event, class: "a-link" %>
          <%# <i class="fa-solid fa-eye"></i>
        </div>
      </div> %>
    <%# <% end %>
  <%# </div>
</div>
