<% if current_user.is_buyer %>

<div class="container bg-dark py-4 my-3 ">
  <div class="row justify-content-center">
    <div class="col-12 text-white text-center pb-3 ">
        <h1>Event Details</h1>
    </div>
      <div class="col-4 m-3 p-0">
        <%= cl_image_tag @event.photo.key, height: 300, width: 450, crop: :fill %>
      </div>
        <div class="col-4 m-3">
          <% @event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 450, crop: :fill %>
          <% end %>
        </div>
          <div class="col-9 mt-3 p-y-0 border rounded-4 border-warning">
            <ul class="card-show bg-dark">
              <h2 class="card-title py-4"> <%= @event.title %> </h2>
                <li class="list-group-item"> <strong>Title:</strong> <%= @event.title %>
                <li class="list-group-item"> <strong>Description:</strong> <%= @event.description %></li>
                <li class="list-group-item"> <strong>Start Date:</strong> <%= @event.start_date %></li>
                <li class="list-group-item"> <strong>End Date:</strong> <%= @event.end_date %></li>
                <li class="list-group-item"> <strong>Location:</strong> <%= @event.location %></li>
                <li class="list-group-item"> <strong>Price:</strong> <%= @event.price %> MUR</li>
                <li class="list-group-item"> <strong>Tickets Available:</strong> <%= @event.slot %></li>
                <li class="list-group-item"> <strong>Contact:</strong> <%= @event.contact %></li>
                <li class="list-group-item"> <strong>Category:</strong> <%= @event.category %></li>
            </ul>
          </div>
        <div class="row justify-content-evenly mt-3">
          <div class="col-6 text-white mx-5 px-4 border rounded-4 border-warning p-3" >
            <h4>Number of Tickets:</h4>
              <%= simple_form_for [@event, @booking] do |f| %>
              <%= f.input :pax, label: "Tickets:", as: :integer %>
              <%= f.button :submit, "Book here", class:"btn btn-show" %>
              <% end %>
          </div>
          <div class="col-2"></div>
        </div>
  </div>
  <div class="text-center col-12 pt-5">
    <%= link_to "Back to events", events_path, class: "btn btn-back" %>
  </div>
</div>

  <%# Seller View starts here %>

<% else %>

<div class="container bg-dark py-5 my-3">
  <div class="row justify-content-center">
    <div class="col-12 text-white text-center pb-3">
      <h1>Event Details</h1>
    </div>
    <div class="col-4 m-3 p-0">
        <%= cl_image_tag @event.photo.key, height: 300, width: 450, crop: :fill %>
    </div>
    <div class="col-4 m-3">
        <% @event.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 450, crop: :fill %>
        <% end %>
    </div>
        <div class="col-9 mt-3 p-y-0 border rounded-4 border-warning">
          <ul class="card-show bg-dark">
            <h2 class="card-title py-4"> <%= @event.title %></h2>
            <li class="list-show-item"><strong>Title:</strong> <%= @event.title %></li>
            <li class="list-show-item"><strong>Description: </strong> <%= @event.description %></li>
            <li class="list-show-item"><strong>Start Date:</strong> <%= @event.start_date %></li>
            <li class="list-show-item"><strong>End Date:</strong> <%= @event.end_date %></li>
            <li class="list-show-item"><strong>Location:</strong> <%= @event.location %></li>
            <li class="list-show-item"><strong>Price:</strong> <%= @event.price %>MUR</li>
            <li class="list-show-item"><strong>Tickets Available:</strong> <%= @event.slot %></li>
            <li class="list-show-item"><strong>Contact:</strong> <%= @event.contact %></li>
            <li class="list-show-item"><strong>Category:</strong> <%= @event.category %></li>
          <ul>
        </div>
    <div class="text-center col-5 pt-4">
      <%= link_to 'Edit this event', edit_event_path, class: "btn btn-show" %>
      <%= link_to 'Delete event', event_path(@event),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-show" %>
      <%= link_to 'Dashboard', events_path, class: "btn btn-show" %>
    </div>
  </div>
</div>

<% end %>
