<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'eplanner11.gif' %>);">

<div class="header">
  <h1>E - PLANNER</h1>
</div>

    <p class="ml9">
      <span class="text-wrapper">
        <span class="letters">
          Our Innovation Is Your Perfect Event Solution
        </span>
      </span>
    </p>

    <br>
    <div class="d-flex gap-2 justify-content-center text-center">
        <% if current_user %>
          <%= link_to "See Events", "/events", class: "btn btn-ghost" %>
          <%= link_to "Create Event", "#", class: "btn btn-ghost" %>
        <% end %>
    </div>
  </div>
</div>
<div class="text-center container-home upcoming-events pt-3">
  <h2>Upcoming Events</h2>
  <div class="latest-event">
    <div class="card-products-container">
      <% @mostrecentevent.each do |event| %>
        <div class="card-product" style="background-image:  linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,0)), url(<%= cl_image_path event.photo.key if event.photo.attached? %>)">
          <div class="overlay">
            <div class="card-product-infos">
              <div class="head">
                <h2><%= event.title %></h2>
              </div>
                <div class="details">

                  <div style="margin-bottom: 15px;">
                    <i class="fa-solid fa-calendar-days"></i>
                    <%= event.start_date %> to <%= event.end_date %>
                  </div>


                  <div style="margin-bottom: 15px;">
                    <i class="fa-solid fa-location-dot"></i>
                    <%= event.location %>
                  </div>

                  <div style="margin-bottom: 15px;">
                    <i class="fa-solid fa-ticket"></i>
                    Rs <%= event.price %>
                  </div>

                  <div style="margin-bottom: 15px;">
                    Available places : <%= event.slot %>
                  </div>

                </div>
              <div>
                <%= link_to "Go To Event", event, class:"btn btn-ghost " %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container text-center">
  <h2>About E-Planner</h2>
  </div>
    <div class="about-us">
      <p>
        Created in 2020, E-Planner is an online platform whose main target is to provide event organisers with a reliable and user-friendly platform for the marketing and promotion of their events.
        Throughout our 2 years of existence, successful local and international companies, productions and artists decided to trust E-Planner and promoted a plethora of successful events all over the island!
      </p>
    </div>
</div>

<%# -----SERVICES-----  %>
<div class="container-home text-center">
  <section class="we-offer-area text-center bg-gray">
    <div class="container-home">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2><span>Our Services</span></h2>
                    <h4>What our customers benefit from</h4>
                </div>
            </div>
        </div>
        <div class="row our-offer-items less-carousel">
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-pen-fancy"></i>
                    <h4>Event Promotion</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-dharmachakra"></i>
                    <h4>Event Management</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-tasks"></i>
                    <h4>E-Ticketing</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
  </section>
  <br>
</div>


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
    <h2 style="text-align:center;">Testimonial</h2>
    <br>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.ibb.co/DrmDVkL/Digital-Marketing-1920-1080-px-1920-700-px-1.gif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/ykFXPdV/Digital-Marketing-1920-1080-px-1920-700-px-2.gif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/Ht2KwvK/Digital-Marketing-1920-1080-px-1920-700-px-4.gif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  <div class="carousel-item">
      <img src="https://i.ibb.co/5KnbXJV/Digital-Marketing-1920-1080-px-1920-700-px.gif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<br>
<br>


<script>
var textWrapper = document.querySelector('.ml9 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
  .add({
    targets: '.ml9 .letter',
    scale: [0, 1],
    duration: 1500,
    elasticity: 600,
    delay: (el, i) => 45 * (i+1)
  }).add({
    targets: '.ml9',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>
